@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900");@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900");
                .beae-column {
                    position: relative;
                    /* display: flex; responsive generate display block */
                }
                .beae-column>.core__column--wrapper {
                    align-items: flex-start; /* fix tam de mn lam layout */
                    display: flex;
                    padding: 20px;
                }
                .beae-column:hover {
                    z-index: 1;
                }
                @media only screen and (min-width: 768px) {
                    .beae-column>.core__column--wrapper {
                        height: 100%;
                    }
                }
            .beae-section-background-video > * {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                z-index: -1;
            }
            .beae-section-background-video > * > * {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                pointer-events: none;
                background: black;
            }
            section.beae-section .beae-section-background-video > .beae-section-background-video-normal{
                display:block
            }
            section.beae-section .beae-section-background-video > .beae-section-background-video-hover{
                display:none
            }
            section.beae-section:hover .beae-section-background-video--hover > .beae-section-background-video-normal{
                display:none !important
            }
            section.beae-section:hover .beae-section-background-video--hover > .beae-section-background-video-hover{
                display:block !important
            }
                .beae-row {
                    width: 100%;
                    position: relative;
                }
                .beae-section__overlay > .beae-overlay{
                    display:block;
                    position:absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                }
                .beae-row:not(.beae-section) {
                    float: left;
                }
                .beae-row.beae-section {
                    clear: both;
                }
                .beae-row:hover {
                    z-index: 1;
                }
                .beae-row>div.core__row--columns.core__row--full {
                    max-width: 100%;
                }
                div.core__row--columns {
                    margin: 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    position: relative;
                    z-index: 1;
                }
                .beae-section-shape-divider{
                    position:absolute;
                    left:0;
                    right:0;
                    overflow:hidden;
                }
                .beae-section-shape-divider[data-shape-position="top"]{
                    top:0
                }
                .beae-section-shape-divider[data-shape-position="bottom"]{
                    bottom:0;
                    transform: rotateX(180deg);
                }
                .beae-section-shape-divider > svg {
                    display:flex;
                    position:relative;
                    left:50%;
                    transform:translateX(-50%);
                    width:100%;
                    height:100px;
                }
                    body {
                        margin: 0px;
                    }

                    div.beae-builder *,
                    div.beae-builder *::before,
                    div.beae-builder *::after {
                        box-sizing: border-box;
                    }


                    /* container image */

                    .beae-image-default {
                        display: block;
                    }

                    div.beae-builder {
                        margin: 0 auto;
                    }

                    div.beae-core img {
                        max-width: 100%;
                        height: auto;
                        border: 0;
                        vertical-align: middle;
                    }

                    div.beae-core figure {
                        margin: 0px;
                    }

                    div.core__group--body>div.core__blocks {
                        padding: 14px;
                    }

                    .beae-combined-elements div.core__group--body>div.core__blocks {
                        padding: 0;
                    }

                    .beae-combined-elements div.core__group--item+div.core__group--item {
                        margin-top: 30px;
                    }


                    /* .beae-block a,
                    .beae-block img,
                    .beae-block picture {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .beae-block picture,
                    .beae-block figure {
                        overflow: hidden;
                    } */

                    div.core__blocks {
                        display: flex;
                        width: 100%;
                        min-height: 20px;
                        height: 100%;
                        /*Vertically align blocks*/
                    }

                    div.core__blocks>div.core__blocks--body {
                        display: flex;
                        /* display: block; Modify by daniel */
                        flex-wrap: wrap;
                        align-content: flex-start;
                        width: 100%;
                        position: relative;
                    }

                    div.beae-group {
                        overflow: visible !important;
                    }

                    div.beae-group__items {
                        display: inline-block;
                        width: 100%;
                    }

                    div.beae-block {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: fit-content;
                    }

                    html,
                    body,
                    div,
                    span,
                    applet,
                    object,
                    iframe,
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6,
                    p,
                    blockquote,
                    pre,
                    a,
                    abbr,
                    acronym,
                    address,
                    big,
                    cite,
                    code,
                    del,
                    dfn,
                    em,
                    img,
                    ins,
                    kbd,
                    q,
                    s,
                    samp,
                    small,
                    strike,
                    strong,
                    sub,
                    sup,
                    tt,
                    var,
                    b,
                    u,
                    i,
                    center,
                    dl,
                    dt,
                    dd,
                    ol,
                    ul,
                    li,
                    fieldset,
                    form,
                    label,
                    legend,
                    table,
                    caption,
                    tbody,
                    tfoot,
                    thead,
                    tr,
                    th,
                    td,
                    article,
                    aside,
                    canvas,
                    details,
                    embed,
                    figure,
                    figcaption,
                    footer,
                    header,
                    hgroup,
                    menu,
                    nav,
                    output,
                    ruby,
                    section,
                    summary,
                    time,
                    mark,
                    audio,
                    video {
                        margin: 0;
                        padding: 0;
                        border: 0;
                        /* font-size: 100%;
                        font: inherit; */
                        vertical-align: baseline;
                    }

                    ul,
                    ol {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }

                    .beae-html ul {
                        display: block;
                        list-style-type: disc;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        padding-inline-start: 40px;
                    }

                    .beae-html ol {
                        display: block;
                        list-style-type: decimal;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        padding-inline-start: 40px;
                    }

                    .beae-html ul ul {
                        list-style-type: circle;
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                    }

                    .beae-html ul ul ul {
                        list-style-type: square;
                    }

                    .beae-html ol ol,
                    .beae-html ul ol {
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                    }

                    input,
                    select,
                    textarea,
                    button {
                        font-family: inherit;
                    }

                    a,
                    span {
                        display: inline-block;
                    }

                    @media only screen and (max-width: 375px) {}

                    .beae__element,
                    .beae-element {
                        display: block;
                        position: relative;
                        width: 100%;
                    }
                
                    .beae-text-stroke .beae-microelement__title{
                        background:transparent;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color : transparent;
                    }
                
                .beae__element--button{
                    display: inline-flex;
                    align-items: center;
                }
                .beae__element--button-icon{
                    display:inline-flex;
                    color:inherit;
                }
                .beae__element--button-icon svg{
                    width:18px;
                    height:auto
                }
            
                .beae-element-button.beae-button-default{
                    display:flex;
                }
            
            
                    .beae-container-image-ratio{
                        width:100%
                    }
                    .beae-base-image.beae-overlay > .beae-overlay-text{
                        text-align:center
                    }
                    .beae-image-align{
                        display:flex;
                    }
                    .beae-image-picture-link{
                        overflow:hidden;
                        display: inline-flex;
                    }
                    .beae-base-image picture {
                        flex:1 1 auto;
                        min-height:1px;
                    }
                    .beae-base-image picture img{
                        display: block;
                    }
                    .beae-base-image figure{
                        display: flex;
                    }
                    .beae-container-image{
                        display: flex;
                        flex-direction: column;
                        width:100%;
                    }
                    .beae-image-picture-link,
                    .beae-image-content-position{
                        position: relative;
                    }
                    .beae-base-image.beae-overlay {
                        position: absolute;
                        z-index: 1;
                        opacity: 0.5;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                    .beae-image__caption{
                        width:100%;
                    }
                    .beae-container-image .core__micro--wrapper{
                        display:flex
                    }
                
                .beae__text--dropcap:first-letter {
                    font-size: 40px;
                    color: #8A2BE2;
                    display:inline-flex;
                    border:1px solid transparent;
                    float:left;
                    line-height:1;
                }
            
                .beae-microelement__icon{
                    display:flex
                }
            
                    /**
                     * Beae Element Icon
                     */
                    .beae-icon .beae-icon--container{
                        display: inline-flex;
                        color: #111827
                    }
                    .beae-icon svg {
                        width: 5.2rem;
                        height: 5.2rem;
                    }
                    .beae-icon{
                        display:flex !important;
                    }
                
                    /**
                     * Beae Element Slider
                     */
                    .beae_bg_none{
                            background-color: unset !important;
                    }
                    .beae-swiper-navigation-position{
                        display:flex;
                    }
                    .beae-swiper-navigation-position button{
                        margin:0
                    }
                    .beae-swiper-navigation button{
                        position:unset;
                        margin:0
                    }
                    .beae-slider--container {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                    }
                    .beae-swiper-pagination-bullet:only-child {
                        opacity: none
                    }
                    .beae-swiper-button svg{
                        width:24px;
                        height:24px;
                    }
                    .beae-flex-center, .beae-swiper-navigation {
                        display: flex;
                        align-items: center;
                    }
                    .beae-flex-center .beae-swiper-pagination-fraction{
                        position: static;
                    }
                    .beae-swiper-navigation{
                        justify-content: center
                    }
                    .beae-slider img {
                        display: block
                    }
                    .beae-slider--container .beae-swiper-pagination-bullet img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover
                    }
                    .beae-slider--container .beae-swiper-button-next:after,
                    .beae-slider--container .beae-swiper-button-prev:after {
                        content: none;
                    }
                    .beae-slider--container .beae-swiper-navigation[data-navigator-type="combine"] .beae-swiper-button-next,
                    .beae-slider--container .beae-swiper-navigation[data-navigator-type="combine"] .beae-swiper-button-prev {
                        position: static;
                        margin: 0;
                    }
                    .beae-slider--container .beae-swiper-button-next,
                    .beae-slider--container .beae-swiper-button-prev {
                        border: 0;
                        background: transparent;
                        width: auto;
                        height: auto;
                        padding: 5px;
                        color: #444
                    }
                    .beae-slider--container .beae-swiper-pagination {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center
                    }
                    .beae-slider--container .beae-swiper-pagination-bullet {
                        width: 15px;
                        height: 15px;
                        opacity: 1;
                        overflow: hidden;
                    }
                    .beae-slider--container .beae-swiper-pagination-bullet,
                    .beae-slider--container .beae-swiper-pagination-bullet-active{
                        background-clip: content-box;
                        padding: 1px;
                        box-sizing: content-box !important;
                        background-color: currentColor;
                    }
                     .beae-swiper-container-horizontal>.beae-swiper-pagination-bullets{
                        width:auto;
                    }
                    .beae-slider--container .beae-swiper-slide{
                        position: relative;
                    }
                    .beae-swiper-slide div.core__blocks>div.core__blocks--body{
                        display:flex
                    }
                    .beae-content-item__container {
                        width: 100%;
                    }
                    .beae-swiper-slide .beae-content-item {
                        display: flex;
                        justify-content: center;
                    }
                    .beae-image-background{
                        position:absolute;
                        top:0;
                        left:0;
                        height: 100% !important;
                        width: 100%;
                    }
                    .beae-image-background img{
                        position:absolute;
                        top:0;
                        left:0;
                        height: 100% !important;
                        width: 100%;
                        object-fit: cover;
                        object-position: center center;
                    }

                    .beae-slider--container .beae-swiper-pagination-bullets, .beae-swiper-pagination-custom, .beae-swiper-pagination-fraction {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        bottom: 0;
                    }

                    .beae-slider--container .beae-swiper-pagination-bullets, .beae-swiper-pagination-custom, .beae-swiper-pagination-fraction {
                        bottom: 0;
                    }
                    .beae-content-item {
                        height: 100%;
                    }
                    .beae-slider--container .beae-swiper-navigation[data-navigator-type="classic"] .beae-swiper-pagination,
                    .beae-slider--container .beae-swiper-navigation:not([data-navigator-type]) .beae-swiper-pagination {
                        width:100%
                    }
                    .beae-swiper-container-fade .beae-swiper-slide{
                        pointer-events: unset
                    }
                    .beae-swiper-container-fade .beae-swiper-slide.swiper-slide-active{
                        z-index:2
                    }
                    .beae-transform {
                        transform: translateY(-50%);
                    }
                   .beae-swiper-pagination-position.beae-pagination-center_left_fraction_full,  .beae-swiper-pagination-position.beae-pagination-center_right_fraction_full{
                        flex-direction: row !important;
                    }
                   
                
.beae-core.beae-doz5sjwy{width: 33.33%;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-doz5sjwy{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}.beae-core.beae-377ls0a9 .beae-button-default{justify-content: flex-start;}.beae-core.beae-377ls0a9 .beae-microelement__button{font-family: Roboto;font-weight: 600;text-decoration: none;font-size: 1.9em;line-height: 1.6em;color: #ffffff;background: linear-gradient(180deg, #e8ed4e 0%, #cf8f06 100%);border-radius: 10px;padding: 0px 26px 0px 26px;}.beae-core.beae-377ls0a9 .beae-microelement__button:hover{color: #ffffff;}@media screen and (max-width: 2880px) and (min-width: 1024px) {} .beae-core.beae-377ls0a9{padding-top: 2%;position: sticky !important;top: 0px;z-index: 100;}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-377ls0a9{border-top-right-radius: 17.5%;display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-377ls0a9{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-377ls0a9{display: block;}} .beae-core.beae-377ls0a9 #buy-button{
border-radius: 10px;
}.beae-core.beae-kkdtxvws{width: 34.67%;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-kkdtxvws{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}html body .beae-core.beae-rsfnhgky .beae-core.beae-kkdtxvws>div.core__column--wrapper{padding-left: 50px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-ds7y4yq9 .beae-microelement__title{text-align: right;color: #f0c85b;}@media screen and (max-width: 2880px) and (min-width: 1024px) {} .beae-core.beae-ds7y4yq9{}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-ds7y4yq9{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-ds7y4yq9{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-ds7y4yq9{display: block;}}.beae-core.beae-0j49ap4a{width: 32%;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-0j49ap4a{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}.beae-core.beae-mxilf1f0 .beae-microelement__title{text-align: right;color: #f5f6f7;}.beae-core.beae-mxilf1f0 .beae-microelement__title,.beae-core.beae-mxilf1f0 .beae-microelement__title a{font-size: 2.3em;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-mxilf1f0{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-mxilf1f0{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-mxilf1f0{display: block;}}.beae-core.beae-rsfnhgky>.core__row--columns>.beae-column>.core__column--wrapper{padding: 5px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-rsfnhgky{background: #03254d;border-style: none;}.beae-core.beae-rsfnhgky [data-shape-position="top"] svg{width: 100%;height: 100px;}.beae-core.beae-rsfnhgky [data-shape-position="bottom"] svg{width: 100%;height: 100px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {} .beae-core.beae-rsfnhgky{position: sticky !important;top: 0px;z-index: 100;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}
.beae-core.beae-jdl01zw4{width: 44%;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-jdl01zw4{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}.beae-core.beae-7l2ar20r .beae-microelement__image ,.beae-core.beae-7l2ar20r .beae-microelement__image .beae-image-default{opacity: 1;}.beae-core.beae-7l2ar20r .beae-microelement__image:hover ,.beae-core.beae-7l2ar20r .beae-microelement__image:hover .beae-image-default{opacity: 1;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-7l2ar20r{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-7l2ar20r{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-7l2ar20r{display: block;}}.beae-core.beae-h1uurnka{width: 56%;}.beae-core.beae-h1uurnka>div.core__column--wrapper>div.core__blocks>div.core__blocks--body>div.beae-block+div.beae-block.elmspace{margin-top: 11px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-h1uurnka{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}html body .beae-core.beae-bgeoye01 .beae-core.beae-h1uurnka>div.core__column--wrapper{padding-right: 0%;padding-left: 30%;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-8ltrll9j .beae-microelement__title,.beae-core.beae-8ltrll9j .beae-microelement__title a{font-weight: 500;font-family: Roboto;font-size: 1.7em;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-8ltrll9j{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-8ltrll9j{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-8ltrll9j{display: block;}}.beae-core.beae-jidelwa1>div.core__row--columns>.beae-core.beae-column>.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: center;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-49wrwtjt{width: 90%;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-49wrwtjt{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}html body .beae-core.beae-bgeoye01 .beae-core.beae-49wrwtjt>div.core__column--wrapper{padding: 0px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-a4byjq81{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-a4byjq81{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-a4byjq81{display: block;}}.beae-core.beae-j4m3hmwn .text-content,.beae-core.beae-j4m3hmwn .text-content a{font-size: 1.2em;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-j4m3hmwn{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-j4m3hmwn{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-j4m3hmwn{display: block;}}.beae-core.beae-7b7r8i1y{width: 10%;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-7b7r8i1y{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}html body .beae-core.beae-bgeoye01 .beae-core.beae-7b7r8i1y>div.core__column--wrapper{padding: 0px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-41kxfzw0 .beae-element.beae-icon{justify-content: flex-start;}.beae-core.beae-41kxfzw0 .beae-microelement__icon svg{height: 30px;width: 30px;}.beae-core.beae-41kxfzw0 .beae-microelement__icon{color: #2db50b;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-41kxfzw0{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-41kxfzw0{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-41kxfzw0{display: block;}}.beae-core.beae-huw2jrxz>div.core__row--columns>.beae-core.beae-column>.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: center;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-335l2fu9{width: 90%;}.beae-core.beae-335l2fu9>div.core__column--wrapper>div.core__blocks>.core__blocks--body{justify-content: left;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-335l2fu9{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}html body .beae-core.beae-bgeoye01 .beae-core.beae-335l2fu9>div.core__column--wrapper{padding: 0px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-dbpq4z30 .text-content,.beae-core.beae-dbpq4z30 .text-content a{font-size: 1.2em;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-dbpq4z30{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-dbpq4z30{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-dbpq4z30{display: block;}}.beae-core.beae-hmsnyarq{width: 10%;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-hmsnyarq{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}html body .beae-core.beae-bgeoye01 .beae-core.beae-hmsnyarq>div.core__column--wrapper{padding: 0px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-swc99bew .beae-element.beae-icon{justify-content: flex-start;}.beae-core.beae-swc99bew .beae-microelement__icon svg{height: 30px;width: 30px;}.beae-core.beae-swc99bew .beae-microelement__icon{color: #2db50b;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-swc99bew{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-swc99bew{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-swc99bew{display: block;}}.beae-core.beae-ygeog2y5>div.core__row--columns{height: auto;}.beae-core.beae-ygeog2y5>div.core__row--columns>.beae-column.beae-core>.core__column--wrapper>.core__blocks{min-height: 0vh;}@media screen and (max-width: 2880px) and (min-width: 1024px) {} .beae-core.beae-ygeog2y5{margin-top: 0px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-0juh3rwb{width: 90%;}.beae-core.beae-0juh3rwb>div.core__column--wrapper>div.core__blocks>div.core__blocks--body>div.beae-block+div.beae-block.elmspace{margin-top: 0px;}.beae-core.beae-0juh3rwb>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: center;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-0juh3rwb{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}html body .beae-core.beae-bgeoye01 .beae-core.beae-0juh3rwb>div.core__column--wrapper{padding: 0px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-ca3a52j2 .text-content{text-align: left;}.beae-core.beae-ca3a52j2 .text-content,.beae-core.beae-ca3a52j2 .text-content a{font-size: 1.2em;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-ca3a52j2{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-ca3a52j2{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-ca3a52j2{display: block;}}.beae-core.beae-hxco0chy{width: 10%;}.beae-core.beae-hxco0chy>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: center;}.beae-core.beae-hxco0chy>div.core__column--wrapper>div.core__blocks>.core__blocks--body{justify-content: center;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-hxco0chy{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}.beae-core.beae-hxco0chy>.core__column--wrapper{color: #38ba0d;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}html body .beae-core.beae-bgeoye01 .beae-core.beae-hxco0chy>div.core__column--wrapper{padding: 0px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-ksh6gtr9 .beae-element.beae-icon{justify-content: flex-start;}.beae-core.beae-ksh6gtr9 .beae-microelement__icon svg{height: 30px;width: 30px;}.beae-core.beae-ksh6gtr9 .beae-microelement__icon{color: #2db50b;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-ksh6gtr9{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-ksh6gtr9{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-ksh6gtr9{display: block;}}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-o9x2yqrn{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-o9x2yqrn{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-o9x2yqrn{display: block;}}.beae-core.beae-ai1ytnxx .beae-microelement__title,.beae-core.beae-ai1ytnxx .beae-microelement__title a{font-size: 3.5em;font-family: Roboto Condensed;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-ai1ytnxx{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-ai1ytnxx{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-ai1ytnxx{display: block;}}.beae-core.beae-a21zwk14 .beae-microelement__title,.beae-core.beae-a21zwk14 .beae-microelement__title a{font-family: Roboto Condensed;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-a21zwk14{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-a21zwk14{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-a21zwk14{display: block;}}.beae-core.beae-bgeoye01>div.beae-section__overlay>.beae-overlay{background: rgba(194, 132, 132, 0);}.beae-core.beae-bgeoye01 [data-shape-position="top"] svg{width: 100%;height: 100px;}.beae-core.beae-bgeoye01 [data-shape-position="bottom"] svg{width: 100%;height: 100px;}.beae-core.beae-bgeoye01 .core__row--columns{color: #e6e1e1;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}
.beae-core.beae-zppmqlrd{width: 100%;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-zppmqlrd{width: 100%;}}@media screen and (max-width: 767px) and (min-width: 320px) {}.beae-core.beae-27aj42wg .beae-slider .beae-swiper-slide{height: 350px;}.beae-core.beae-27aj42wg .beae-swiper-pagination-position{justify-content: center;align-items: center;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 767px) {.beae-core.beae-27aj42wg .beae-slider .beae-swiper-slide{height: 450px;}}@media screen and (max-width: 767px) and (min-width: 320px) {}.beae-core.beae-27aj42wg .beae-content-item{align-content: center;align-items: center;display: flex;justify-content: center;justify-items: center;display: flex;}.beae-core.beae-27aj42wg .beae-content-item__container{width: 100%;}.beae-core.beae-27aj42wg .beae-slider--container .beae-swiper-pagination-bullet{width: 10px;height: 10px;background: #d9d9d9;}.beae-core.beae-27aj42wg .beae-slider--container .beae-swiper-pagination-bullet.beae-swiper-pagination-bullet-active{background: #000000;}.beae-core.beae-27aj42wg .beae-slider--container .beae-swiper-pagination .beae-swiper-pagination-bullet{}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-pynhc2lx .beae-button-default{justify-content: center;}.beae-core.beae-pynhc2lx .beae-microelement__button{color: #ffffff;background: rgba(5, 150, 105);padding: 12px 26px 12px 26px;}.beae-core.beae-pynhc2lx .beae-microelement__button:hover{color: #ffffff;background: rgba(4, 120, 87);}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-pynhc2lx{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-pynhc2lx{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-pynhc2lx{display: block;}}.beae-core.beae-zc655lz7 .text-content{text-align: center;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-zc655lz7{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-zc655lz7{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-zc655lz7{display: block;}}.beae-core.beae-vkmk8oqb .beae-microelement__title{text-align: center;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-vkmk8oqb{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-vkmk8oqb{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-vkmk8oqb{display: block;}}.beae-core.beae-jku5vy3a .core__micro--wrapper{display: flex;justify-content: center;}.beae-core.beae-jku5vy3a .beae-microelement__image ,.beae-core.beae-jku5vy3a .beae-microelement__image .beae-image-default{opacity: 1;}.beae-core.beae-jku5vy3a .beae-microelement__image:hover ,.beae-core.beae-jku5vy3a .beae-microelement__image:hover .beae-image-default{opacity: 1;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-jku5vy3a{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-jku5vy3a{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-jku5vy3a{display: block;}}.beae-core.beae-tqzep6ud .core__micro--wrapper{display: flex;justify-content: center;}.beae-core.beae-tqzep6ud .beae-microelement__image ,.beae-core.beae-tqzep6ud .beae-microelement__image .beae-image-default{opacity: 1;}.beae-core.beae-tqzep6ud .beae-microelement__image:hover ,.beae-core.beae-tqzep6ud .beae-microelement__image:hover .beae-image-default{opacity: 1;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}@media screen and (max-width: 2880px) and (min-width: 1024px) {.beae-core.beae-tqzep6ud{display: block;}}@media screen and (max-width: 1024px) {}@media screen and (max-width: 1024px) and (min-width: 767px) {.beae-core.beae-tqzep6ud{display: block;}}@media screen and (max-width: 767px) {}@media screen and (max-width: 767px) and (min-width: 320px) {.beae-core.beae-tqzep6ud{display: block;}}.beae-core.beae-dsajsubq>.core__row--columns>.beae-column>.core__column--wrapper{padding: 5px;}.beae-core.beae-dsajsubq>div.core__row--columns{justify-content: center;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}.beae-core.beae-dsajsubq [data-shape-position="top"] svg{width: 100%;height: 100px;}.beae-core.beae-dsajsubq [data-shape-position="bottom"] svg{width: 100%;height: 100px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}
/**BEAE-INSERT-CSS**/.beae-section > div.core__row--columns{max-width: 1200px;}.beae-column>div.core__column--wrapper{padding: 20px;}div.core__blocks--body>div.beae-block+div.beae-block.elmspace{margin-top: 20px;}@media screen and (max-width: 2880px) and (min-width: 1024px) {}:root{--beae-global-colors-primary:#008060;--beae-global-colors-secondary:#111827;--beae-global-colors-text:#6B7280;--beae-global-colors-accent:#2c6ecb;}/**BEAE-INSERT-CSS**/#shopify-section-header{display: none !important;}